

.calendar-buttons {
  margin-bottom: 20px;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th {
  background-color: #eee;
}

.calendar-day {

  border: 1px solid #ccc;
}

